body {
    background-color: #696969;
}

.headerTemplate {
    height: 90px;
}

.js-home {
    transition: margin-left .5s;
    float: left;
    color: black;
}

.js-login {
    float: right;
}

.js-login > img {
    padding-top: 10px;
    padding-right: 10px;
    width: 200px;
    height: 60px;
}

.js-header {
    border-bottom-style: solid;
    border-bottom-color: #ffffff;
}